<main>

    <button id="back" routerLink="/painel">&#9204; Transferir</button>

    <section>
        <h1>Insira uma chave Pix</h1>

        <input type="text" placeholder="CPF, celular ou e-mail">

        <div>
        <p>Uma chave é a identificação de uma conta.</p>
        <p>Pode ser um CPF, celular ou um e-mail.</p>
        </div>

        <h2>Recentes</h2>

        <div id="lista">
            @for (user of users; track $index) {
                <div class="item" (click)="selectAccount(user.id)" (click)="openPopUp(isPopUpOpen)">
                    <span>{{user.nome.charAt(0)}}</span>
                    <div class="info">
                        <h1>{{user.nome}}</h1>
                        <p>{{user.banco}}</p>
                    </div>
                </div>
            }     
        </div>

        <div>
            <button (click)="openPopUp(isPopUpOpen)" [disabled]="id==0">Continuar</button>
        </div>
    </section>

    @if (isPopUpOpen) {
    
        <section id="popup">
        <div id="background" (click)="openPopUp(isPopUpOpen)">

        </div>

        <div [@subirAnimacao]>
            
        <h1>Deseja transferir para:</h1>
    
        <div>
        <h1>{{currentClient.nome}}</h1>
        <p>123.456.789-12</p>
        <p>{{currentClient.banco}}</p>
        </div>
    
        <button routerLink="/transferir/valor">Continuar</button>
    
        </div>
    </section>

    }

</main>
