<footer>
    <div>
        <img src="WhiteLogo.png" alt="">
        <p>Copyright º2025 NeoBank.</p>
        <p>All rights reserved</p>
    </div>

    <div>
        <h2>Company</h2>
        <ul>
            <li>About us</li>
            <li>Bolg</li>
            <li>Contact us</li>
            <li>Pricing</li>
            <li>Testimonials</li>
        </ul>
    </div>
    <div>
        <h2>Suport</h2>
        <ul>
            <li>Help center</li>
            <li>Terms of service</li>
            <li>Legal</li>
            <li>Privacy policy</li>
            <li>Status</li>
        </ul>
    </div>
    <div></div>
</footer>
