<footer>
    <div>
        <img src="WhiteLogo.png" alt="">
        <p>Copyright º2025 NeoBank.</p>
        <p>All rights reserved</p>
    </div>

    <div>
        <h2>Company</h2>
        <ul>
            <li><a href="#bannerBackground">Início</a></li>
            <li><a href="#clientes">Clientes</a></li>
            <li><a href="#Sobre">Sobre</a></li>
        </ul>
    </div>
    <div>
        <h2>Suport</h2>
        <ul>
            <li>Help center</li>
            <li>Terms of service</li>
            <li>Legal</li>
            <li>Privacy policy</li>
            <li>Status</li>
        </ul>
    </div>
    <div></div>
</footer>
