@use "../../../styles/variables.scss";

footer{
    display: flex;
    justify-content: space-around;
    padding: 5em;
    background-color: variables.$Black;
    color: white;

    img{
        height: 2em;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 1em;

        h2{
            color: white;
        }

        p, li,a{
            color: variables.$Silver;
            list-style: none;
            text-decoration: none;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}