#background{
    background-color: rgba(0, 0, 0, 0.301);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;

    div{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        border-radius: 1em;
        gap: 1em;
        box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.212);
        
        p{
            color: black;
            width: 100%;
            text-align: right;
        }
    }
}
.circle {
    animation: drawCircle 1s ease forwards;
  }

  .check {
    animation: drawCheck 0.6s ease forwards;
    animation-delay: 1s;
  }

  @keyframes drawCircle {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawCheck {
    to {
      stroke-dashoffset: 0;
    }
  }

  .circle {
    animation: drawCircle 1s ease forwards;
  }

  .line1 {
    animation: drawLine1 0.5s ease forwards;
    animation-delay: 1s;
  }

  .line2 {
    animation: drawLine2 0.5s ease forwards;
    animation-delay: 1s;
  }

  @keyframes drawCircle {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawLine1 {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawLine2 {
    to {
      stroke-dashoffset: 0;
    }
  }