<main>

    <div id="form">
        <div id="back">
            <p>Sign up</p>
        </div>
        
        <div id="formContainer">

        <div>
            <h1>You're welcome</h1>
            <p>Hello there, let's create your account!</p>
        </div>

            <div>
                <div class="input">
                    <label>Nome</label>
                    <input type="text" required placeholder="Vinicius Lima Santos">
                </div>
                <div class="input">
                    <label>E-mail</label>
                    <input type="email" required placeholder="Seumelhoremail@hotmail.com">
                </div>
                <div class="input">
                    <p>Senha</p>
                    <input type="text" placeholder="*******">
                </div>
                <button>
                    Sign up
                </button>
            </div>
            <div id="signup">
                <p>Already have an account? </p>
                <a href="">Sign in</a>
            </div>
        </div>
    </div>

    <div id="banner">
        <img src="illustration2.png" alt="">
    </div>

</main>

