<main>

    <button id="back" routerLink="/transferir/valor">Voltar</button>

    
    <div class="container">
        <div class="containerInfos">
            <p id="icone">{{name.at(0)}}</p>
            <div class="infos">
                <h1>{{name}}</h1>
                <p>111.111.111-11</p>
                <p>NEOBANK S.A</p>
            </div>
        </div>
        
            <p id="amount">R$ 0,02</p>
        <div id="list">
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 9h11l-3-3M20 15H9l3 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p>Saldo na carteira: <span>R$ 27,96</span></p>
            </div>
        
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 9h11l-3-3M20 15H9l3 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            <p>Pagar hoje, 30/04/2025</p>
            </div>
        </div>
    </div>

    <button id="finishBtn">Pagar</button>

</main>
