<main>

    <div id="form">
        <div id="back">
            <p routerLink="/">&#9204; Login</p>
        </div>
        
        <div id="formContainer">

        <div>
            <h1>Bem-vindo de volta!</h1>
            <p>Basta fazer login para continuar</p>
        </div>

            <form [formGroup]="loginForm" (ngSubmit)="submit()" #formDir="ngForm">
                <div class="input">
                    <label>E-mail: {{loginForm.value.email}}</label>
                    <input type="email" required placeholder="Seumelhoremail@hotmail.com" formControlName="email">
                    @if(email.invalid && formDir.submitted){
                    <p class="erros">Insira um email valido</p>
                    }
                </div>
                <div class="input">
                    <p>Senha</p>
                    <input type="text" placeholder="*******" formControlName="password">
                   
                   @if (password.invalid && formDir.submitted) {
                    <p class="erros">Insira uma senha valida</p>
                   }
                </div>
                <p id="forgot">Esqueceu sua senha?</p>
                <button type="submit" [disabled]="loginForm.invalid">
                    Login
                </button>
                @if (error) {
                    <p id="errorLogin">Houve um erro ao realizar o login, tente novamente.</p>
                }
            </form>
            <div id="signup">
                <p>Não tem uma conta? </p>
                <a routerLink="/cadastro">Cadastre-se</a>
            </div>
        </div>
    </div>

    <div id="banner">
        <img src="illustration2.png" alt="">

    </div>

</main>
