<main>

    <div id="form">
        <div id="back">
            <p>Sign in</p>
        </div>
        
        <div id="formContainer">

        <div>
            <h1>Welcome Back</h1>
            <p>Hello there, sign in to continue</p>
        </div>

            <div>
                <div class="input">
                    <label>E-mail</label>
                    <input type="text">
                </div>
                <div class="input">
                    <p>Senha</p>
                    <input type="text">
                </div>
                <p id="forgot">Forgot your password?</p>
                <button>
                    Sign in
                </button>
            </div>
            Don't have an account? <a href="">Sign up</a>
        </div>
    </div>

    <div id="banner">
        <img src="LoginIllustration.png" alt="">

    </div>

</main>
