
<section id="bannerBackground">

    <div class="bannerContainer">
        <div>
            <h1>Lessons and insights <br> <span>from 8 years</span></h1>
            <p>Where to grow your business as a photographer: site or social media?</p>
            <button>Register</button>
        </div>
        <img src="Banner-Illustration.png" alt="">
    </div>
</section>

<section>

    <h1>Our clients</h1>
    <p>We have been working with some Fortune 500+ clients</p>

    <div>
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
        <img src="LogoRandom.png" alt="">
    </div>

</section>

<section>

    <h1>Manage your entire community in a single system</h1>
    <p>Who is Nextcent suitable for?</p>

    <div>

        <div class="card">
            <img src="MembershipIcon.png" alt="">
            <h2>Membership Organisations</h2>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        <div class="card">
            <img src="NationalAssociationsIcon.png" alt="">
            <h2>National Associations</h2>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        <div class="card">
            <img src="ClubsIcon.png" alt="">
            <h2>Clubs And Groups</h2>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>

    </div>

</section>
