

    <section id="bannerBackground">
    
        <div class="bannerContainer">
            <div>
                <h1>Lessons and insights <br> <span>from 8 years</span></h1>
                <p>Where to grow your business as a photographer: site or social media?</p>
                <button class="button">Register</button>
            </div>
            <img src="Banner-Illustration.png" alt="">
        </div>
    </section>

    <section class="content">
    
        <h1>Our clients</h1>
        <p>We have been working with some Fortune 500+ clients</p>
    
        <div>
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
            <img class="logos" src="LogoRandom.png" alt="">
        </div>
    
    </section>
    
    <section class="content">
    
        <h1>Manage your entire community in a single system</h1>
        <p>Who is Nextcent suitable for?</p>
    
        <div class="cardRow">
    
            <div class="card">
                <img src="MembershipIcon.png" alt="">
                <h2>Membership <br/> Organisations</h2>
                <p>Our membership management software provides full automation of membership renewals and payments</p>
            </div>
            <div class="card">
                <img src="NationalAssociationsIcon.png" alt="">
                <h2>National<br/> Associations</h2>
                <p>Our membership management software provides full automation of membership renewals and payments</p>
            </div>
            <div class="card">
                <img src="ClubsIcon.png" alt="">
                <h2>Clubs And <br/>Groups</h2>
                <p>Our membership management software provides full automation of membership renewals and payments</p>
            </div>
    
        </div>
    
    </section>
    
    
    <section class="illustratedSection">
    
        <img src="illustration1.png" alt="">
    
        <div>
            <h1>The unseen of spending three years at Pixelgrade</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
            <button class="button">Learn more</button>
        </div>
    
    </section>
    
    
    <section class="statsSection">
    
        <div id="container">
            <div>
                <h1>Helping a local <br> <span>business reinvent itself</span></h1>
                <p>We reached here with our hard work and dedication</p>
            </div>
            <div id="statsRow">
                <div class="statsCard">
                    <img src="MembersIcon.png" alt="">
                    <div>
                        <h1>2,245,341</h1>
                        <p>Members</p>
                    </div>
                </div>
                <div class="statsCard">
                    <img src="ClubsIcon2.png" alt="">
                    <div>
                        <h1>46,328</h1>
                        <p>Clubs</p>
                    </div>
                </div>
                <div class="statsCard">
                    <img src="EventsIcon.png" alt="">
                    <div>
                        <h1>828,867</h1>
                        <p>Event Bookings</p>
                    </div>
                </div>
                <div class="statsCard">
                    <img src="PaymentIcon.png" alt="">
                    <div>
                        <h1>1,926,436</h1>
                        <p>Payments</p>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    
    
    <section class="illustratedSection">
    
        <img src="illustration2.png" alt="">
    
        <div>
            <h1>How to design your site footer like we did</h1>
            <p>Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. In euismod augue vitae nisi ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus efficitur quis massa. Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida.</p>
            <button class="button">Learn more</button>
        </div>
    
    </section>

    <section id="cta">

        <div>

            <h1>Pellentesque suscipi <br> fringilla libero eu.</h1>
            <button class="button">Get a demo -></button>

        </div>
    
    </section>

    <app-footer></app-footer>
